@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@300&display=swap');
body {
	margin: 0;
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #1E1E1E;
	padding: 0px 10px 0px 10px;
	
}
header img {
	width: 35px;
	height: 25px;
	
}
.frenchflag ,.dropdown {
	display: none;
}
.title-header h1 {
	color: #FF3440 ;
	font-family: 'Lobster', cursive;
	margin: 0;
	font-weight: 400;
	padding-left: 10px;
}
.title-header {
	display: flex;
	align-items: center;
}
.openbtn1 {
	display:none;
}
.sidebar {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 5;
	top: 0;
	right: 0;
	background-color: #202020;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}
.menu_sidebar {
	
	justify-content: center;
	display: flex;
	color: #FF3440;
	font-family: 'Lobster', cursive;
	font-size: 40px;
	margin-bottom: 30px;
	margin-top: 30px;
	border-bottom: 1px solid;
	border-top: 1px solid;
	padding: 15px;
	border-radius: 50px;
}
.sidebar a {
	text-align: center;
	text-decoration: none;
	font-size: 25px;
	color: #ffffff;
	display: block;
	transition: 0.3s;
	margin-top: 15px;
	font-family: 'Roboto', sans-serif;
	padding-bottom: 10px;
}
.sidebar a:hover {
	color: #c7c7c7;
}

.sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 145px;
	font-size: 36px;
	margin-right: 50px;
}
.openbtn {
	cursor: pointer;
	color: white;
	height: 25px;
}
#burgerbutton {
	transition: margin-right 0.5s;
    width: fit-content;
}
.burgericon {
	width: 25px;
	height: 25px;
	
}
@media screen and (min-width:1000px) {
	header {
		padding: 0px 20px 0px 20px;
	}
	header img {
		width: 40px;
		height: 30px;
	}
	.title-header h1 {
		font-size: 35px;
		padding-left: 20px;
	}
	.clienticon {
		width: 35px;
		height: 35px;
	}
	
	.openbtn1 {
		display: flex;
		height: 45px;
		align-items: center;
	
	}
	.frenchflag {
		display: block;
		width: 40px;
		height: 40px;
		padding-right: 30px;
	}
	.burgerwrap {
		display: flex;
		align-items: center;
	}
	.openbtn {
		margin-left: 30px;
	}
	.dropdown {
		position: relative;
		display: inline-block;
		height: 35px;
		width: 35px;
	  }
	  
	  .dropdown-content {
		display: none;
		position: absolute;
		background-color: #202020;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 5;
		left: -70px;
		text-align: center;
	  }
	  
	  .dropdown-content a {
		color: rgb(255, 255, 255);
		padding: 12px 16px;
		text-decoration: none;
		display: block;
		font-family: 'Roboto', sans-serif;
		
	  }
	  
	  .dropdown-content a:hover {background-color: #414141}
	  
	  .dropdown:hover .dropdown-content {
		display: block;
	  }
	  .hoverbuton.btnco {
		display: none;
	  }
	  
	
	
}